html, body {
    height: 100%;
    margin: 0;
}

.box-singer {
    width: 100%;
}

.box-singer label {
    float: left;
    width: 100%;
}

.btnAdd {
    margin: 0px !important;
}

.box-singer-left {
    width: 90%;
    float: left;
    margin-right: 10px;
}

.box-singer-right {
    float: left;
}

.left-block {
    margin-top: 2px;
    display: block;
    float: left;
    width: 30%;
    background: #d8d8d899;
    border: 2px solid #772f2f2b;
}

.left-block nav {
    margin-top: 50px;
}

.left-block nav ul {
    list-style-type: none;
}

.left-block nav ul li {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login-text {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.container {
    background: #d8d8d899;
    padding-bottom: 50px;
    margin-top: 10%;
    /* height: 100vh; */
    /* overflow: hidden; */
}

.right-block {
    margin-top: 2px;
    display: block;
    float: left;
    width: 70%;
    padding-left: 100px;
    height: 100vh;
}

/* Home Dash board */

.big-box {
    background: #191927;
}

.top-nav {
    padding: 20px;
}

a.link-dashboard {
    /* color: white; */
    font-size: 20px;
}

a.link-dashboard:hover {
    text-decoration: none;
    /* color: #dfe4e8; */
}

.container-fluid {
    background-color: #f1eff1;
}

.left-nav {
    float: left;
    width: 15%;
    height: 100vh;
    background: #14141f;
    border-radius: 8px;
}

.right-nav {
    float: left;
    width: 80%;
    padding-left: 40px;
}

.logo-team {
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    padding: 20px 20px 10px 20px;
}

.logo-team a {
    font-size: 20px;
    color: white;
}

.logo-team a:hover {
    text-decoration: none;
    color: #dfe4e8;
}

.nav-pre li {
    list-style-type: none;
    margin-top: 10px;
}

.nav-pre li a {
    color: white;
    font-size: 20px;
}

.nav-pre li a:hover {
    text-decoration: none;
    color: #dfe4e8;
}

.one-song {
    background: #27293d;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
}

.box-mp3-view {
    display: block;
    width: 40%;
    float: left;
}

.one-song p {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.box-mp4-view {
    display: block;
    width: 55%;
    float: right;
}

.title-list p {
    /* color: white; */
    font-size: 20px
}

.icon-song i {
    color: white;
    font-size: 20px
}

.text-song {
    float: left;
}

.icon-song {
    float: right;
}

.clear-both {
    clear: both;
}

.buttonClose {
    padding: 10px;
    font-size: 20px;
    float: right;
}

.btnAdd {
    margin: 10px 0px;
}

.box-dialog, .box-dialogCate {
    z-index: 2;
    width: 500px;
    background-color: #fff;
    position: fixed;
    top: 30%;
    left: 35%;
    padding: 30px;
    border-radius: 8px;
}

.dialog, .dialogCate {
    display: none;
    position: relative;
}

.dialog.show, .dialogCate.show {
    display: inline-block;
    width: auto;
}

.box-cover.show {
    background-color: cyan;
}

.cover.show {
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #2d3436;
    opacity: 0.2;
    position: fixed;
}
